/* = Custom Fonts */
@font-face {
    font-family: 'Alata';
    src: url('./fonts/alata-regular-webfont.woff2') format('woff2'),
         url('./fonts/alata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* = General Styles */
html {
    font-size: 10px;
    font-family: Alata, Helvetica, Arial, sans-serif;
    height: 100vh;
}

input, button {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

body {
    background-color: #f6f8fc;
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 0;
    width: 60rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.37);
}

input[type="text"] {
    background-color: #e2e2e2;
    border-radius: 2rem;
    padding: 0.4rem 1.2rem;
}

button {
    box-sizing: border-box;
    background: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 2px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

button img {
    width: 100%;
}

button.add {
    padding: 0.2rem;
}

/* = Checkboxes */
.checkbox-label {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="checkbox"]::before {
    display: block;
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: url(./images/checkbox-unchecked-circle.svg);
    background-size: contain;
    transition: 0.1s;
}

input[type="checkbox"]:checked::before {
    background-image: url(./images/checkbox-checked-circle.svg);
}